<div class="login-container">
  <h1>Login</h1>

  <%= turbo_frame_tag('login') do %>
    <p class="login-subtitle">Enter your email and we'll send you a link to login.</p>

    <%= form_with(url: login_url) do |f| %>
      <div class="mb-3">
        <%= f.label(:email, class: "form-label") %>
        <%= f.email_field(:email, placeholder: 'name@example.com', class: "form-control", required: true) %>
      </div>

      <div class="d-flex gap-2">
        <%= render ButtonComponent.new(label: "Continue", variant: :primary, type: "submit") %>
      </div>
    <% end %>
  <% end %>
</div>
