<%= render PageHeaderComponent.new(title: "Users") do %>
  <%= render ButtonComponent.new(label: t('.invite_user'), variant: :primary, icon: "user-plus", href: new_site_invitation_path(current_site)) %>
<% end %>

<%= render TableComponent.new(headers: ["Email", ""]) do %>
  <%= render @users %>
<% end %>

<div class="labeled-divider">
  <span><%= t('.pending_invitations') %></span>
</div>

<% if @user_invitations.none? %>
  <%= render EmptyStateComponent.new(
        icon: "mail",
        message: t('.no_invitations'),
        action_label: t('.invite_user'),
        action_href: new_site_invitation_path(current_site)) %>
<% else %>
  <%= render TableComponent.new(headers: ["Email", ""]) do %>
    <%= render @user_invitations %>
  <% end %>
<% end %>
