<%= turbo_frame_tag(:form) do %>
  <%= form_for([current_site, page], class: 'mb-4') do |form| %>
    <%= component('form/title_and_slug', form:) %>
    <%= component('form/editor', form:, attribute: :content) %>

    <div class="columns">
      <div class="column is-1">
        <%= component('form/text_field', form:, attribute: :emoji) %>
      </div>
      <div class="column is-3">
        <%= component(
              'form/select',
              form:, attribute: :page_type,
              options: Page.page_types.map{ |key, value| [t("activerecord.attributes.page.page_types.#{key}"), key]}) %>
      </div>
      <div class="column is-8">
          <%= component('form/datetime_field', form:, attribute: :created_at) %>
      </div>
    </div>

    <%= component('form/checkbox', form:, attribute: :add_to_navigation) %>

    <div class="field is-grouped">
      <%= form.submit(class: 'button is-link') %>
      &nbsp;
      <%= link_to 'Cancel', site_pages_path, 'data-turbo-frame': '_top', class: 'button is-link is-light' %>
    </div>
  <% end %>
<% end %>
