<%= turbo_frame_tag(:content) do %>
  <%= render PageHeaderComponent.new(title: "Pages") do %>
    <%= render ButtonComponent.new(label: "New Page", variant: :primary, icon: "plus", href: new_site_page_path) %>
  <% end %>

  <div class="labeled-divider">
    <span><%= t('.pages_in_navigation') %></span>
  </div>
  <%= component('Navigation', navigation: current_site.main_navigation) %>

  <div class="labeled-divider">
    <span><%= t('.other_pages') %></span>
  </div>

  <%= turbo_frame_tag(:pages) do %>
    <% if @pages.empty? %>
      <%= component('empty_state', icon: "file", message: "No other pages yet", action_label: "Create your first page", action_href: new_site_page_path) %>
    <% else %>
      <%= render 'pages', pages: @pages %>
      <%= render('layouts/pagination') %>
    <% end %>
  <% end %>
<% end %>
