<%= turbo_frame_tag(:content) do %>
  <%= render PageHeaderComponent.new(title: Project.model_name.human.pluralize) do %>
    <%= render ButtonComponent.new(label: t('projects.new_project'), variant: :primary, icon: "plus", href: new_site_project_path, data: { turbo_frame: "new_project" }) %>
  <% end %>

  <%= turbo_frame_tag(:new_project) %>

  <%= turbo_frame_tag(:projects) do %>
    <% if @projects.empty? %>
      <%= render EmptyStateComponent.new(icon: "rocket", message: "No projects yet", action_label: t('projects.new_project'), action_href: new_site_project_path) %>
    <% else %>
      <div class="projects-list">
        <%= render @projects %>
      </div>
    <% end %>
  <% end %>
<% end %>
