<tr id="<%= dom_id(book) %>" is="turbo-frame">
  <td class="text-center align-middle">
    <% if book.cover_image&.file&.attached? %>
      <%= image_tag book.cover_image.file.variant(:mobile_x1_webp), style: 'max-height: 50px;' %>
    <% elsif book.emoji.present? %>
      <span style="font-size: 1.5rem;"><%= book.emoji %></span>
    <% end %>
    <% if book.rating.present? %>
      <br><small class="text-warning"><%= '★' * book.rating %><%= '☆' * (5 - book.rating) %></small>
    <% end %>
  </td>
  <td><%= book.title %></td>
  <td><%= book.author %></td>
  <td><%= book.read_at ? l(book.read_at.to_date) : '-' %></td>
  <td class="text-end">
    <% if book.review? %>
      <%= link_to(
            t('reviews.edit_review'),
            edit_site_book_review_path(book.site, book),
            title: t('reviews.edit_review'),
            class: 'btn btn-outline-primary btn-sm') %>
    <% else %>
      <%= link_to(
            t('reviews.write_review'),
            new_site_book_review_path(book.site, book),
            title: t('reviews.write_review'),
            class: 'btn btn-outline-primary btn-sm') %>
    <% end %>
    <%= link_to(
          icon('pencil'),
          edit_book_path(book),
          title: t('edit'),
          class: 'btn btn-outline-secondary btn-sm') %>
    <%= link_to(
          icon('trash'),
          book_path(book),
          title: t('delete'),
          class: 'btn btn-outline-danger btn-sm',
          data: { turbo_method: :delete, turbo_confirm: t('are_you_sure') }) %>
  </td>
</tr>
