<tr id="<%= dom_id(book) %>" is="turbo-frame">
  <td><%= book.emoji %> <%= book.title %></td>
  <td><%= book.author %></td>
  <td><%= l(book.read_at.to_date) %></td>
  <td class="text-end">
    <%= link_to(
          icon('pencil'),
          edit_book_path(book),
          title: t('edit'),
          class: 'btn btn-outline-secondary btn-sm') %>
    <%= link_to(
          icon('trash'),
          book_path(book),
          title: t('delete'),
          class: 'btn btn-outline-danger btn-sm',
          data: { turbo_method: :delete, turbo_confirm: t('are_you_sure') }) %>
  </td>
</tr>
