<%= turbo_frame_tag(:form) do %>
  <%= form_for(book.persisted? ? book : [current_site, book], class: 'mb-4') do |form| %>


    <div class="row">
      <div class="col-2">
        <%= component('form/text_field', form:, attribute: :emoji) %>
      </div>
      <div class="col">
        <%= component('form/text_field', form:, attribute: :title) %>
      </div>
    </div>

    <div class="row">
      <div class="col-2">
        <%= component('form/date_field', form:, attribute: :read_at) %>
      </div>
      <div class="col">
        <%= component('form/text_field', form:, attribute: :author) %>
      </div>
    </div>

    <div class="d-flex gap-2">
      <%= form.submit(class: 'btn btn-primary') %>
      <%= link_to 'Cancel', site_books_path(current_site), 'data-turbo-frame': '_top', class: 'btn btn-outline-primary' %>
    </div>
  <% end %>
<% end %>
