<%= turbo_frame_tag(deployment_target) do %>
  <tr>
    <td><%= deployment_target.public_hostname %></td>
    <td><%= t("deployment_target.types.#{deployment_target.type}") %></td>
    <td class="text-end">
      <%= render ButtonComponent.new(label: "Edit", variant: :secondary, size: :sm, href: edit_site_deployment_target_path(current_site, deployment_target)) %>
      <%= render ButtonComponent.new(label: "Deploy", variant: :primary, size: :sm, href: deploy_site_deployment_target_path(current_site, deployment_target), data: { turbo_method: :post }) %>
      <% if deployment_target.provider == "internal" %>
        <%= render ButtonComponent.new(label: t("deployment_targets.preview"), variant: :secondary, size: :sm, href: preview_root_path(deployment_target), target: "_blank") %>
      <% end %>
    </td>
  </tr>
<% end %>
