<%= turbo_frame_tag(:form) do %>
  <%= form_for(deployment_target, as: :deployment_target, url: site_deployment_target_path(deployment_target.site), method: :patch, class: 'mb-4') do |form| %>
  <%= component('form/text_field', form:, attribute: :public_hostname) %>
  <%= component('form/select', form:, attribute: :type, options: DeploymentTarget.types.keys.map { |key| [t("deployment_target.types.#{key}"), key] }) %>

  <div class="d-flex gap-2">
    <%= render ButtonComponent.new(label: "Update Deployment Target", variant: :primary, type: "submit") %>
    <%= render ButtonComponent.new(label: "Cancel", variant: :ghost, href: site_deployment_targets_path(current_site), "data-turbo-frame": "_top") %>
  </div>
  <% end %>
<% end %>
