<%= turbo_frame_tag(:form) do %>
  <%= form_for([current_site, post], class: "mb-4", data: { controller: 'post_form' }) do |form| %>
    <%= component('form/title_and_slug', form:) %>
    <%= component('form/header_image_picker', form:) %>
    <%= component('form/editor', form:, attribute: :content) %>
    <%= component('form/checkbox', form:, attribute: :draft) %>
    <div class="row">
      <div class="col-2">
        <%= component('form/text_field', form:, attribute: :emoji) %>
      </div>

      <div class="col">
        <%= component('form/datetime_field', form:, attribute: :publish_at, placeholder: Time.current) %>
      </div>
    </div>

    <div class="d-flex gap-2">
      <%= form.submit(class: "btn btn-primary") %>
      <%= link_to("Cancel", site_posts_path, "data-turbo-frame": '_top', class: "btn btn-outline-primary") %>
    </div>
  <% end %>
<% end %>
