<%= turbo_frame_tag(:content) do %>
  <div class="page-header">
    <h1 class="h4"><%= icon('pen') %> Blogposts</h1>
    <%= link_to "New Post", new_site_post_path, class: "btn btn-primary" %>
  </div>

  <%= turbo_frame_tag(:posts) do %>
    <%= render @posts %>

    <%= render('layouts/pagination') %>
  <% end %>
<% end %>
