<%= turbo_frame_tag(:form) do %>
  <%= form_for(current_site, as: :site, url: current_site, method: :patch, class: 'mb-4') do |form| %>
    <%= component('form/text_field', form:, attribute: :title, placeholder: t('sites.title_placeholder')) %>

    <div class="row">
      <div class="col-2">
        <%= component('form/text_field', form:, attribute: :emoji) %>
      </div>
      <div class="col">
          <%= component('form/text_field', form:, attribute: :domain, placeholder: t('sites.domain_placeholder')) %>
      </div>
      <div class="col">
          <%= component('form/language_select', form:, attribute: :language_code) %>
      </div>
    </div>

    <%= component('form/text_field', form:, attribute: :copyright) %>

    <div class="mb-3">
      <%= form.label :theme_id, t('sites.theme'), class: 'form-label' %>
      <%= form.collection_select :theme_id, Theme.all, :id, :name, {}, class: 'form-select' %>
    </div>

    <div class="d-flex gap-2">
      <%= form.submit(t('.update'), class: 'btn btn-primary') %>
      <%= link_to t('form.cancel'), current_site, 'data-turbo-frame': '_top', class: 'btn btn-outline-primary' %>
    </div>
  <% end %>
<% end %>
