<%= turbo_frame_tag(:form) do %>
  <%= form_for(current_site, as: :site, url: current_site, method: :patch, class: 'mb-4') do |form| %>
    <%= component('form/text_field', form:, attribute: :title, placeholder: t('sites.title_placeholder')) %>

    <div class="row">
      <div class="col-2">
        <%= component('form/text_field', form:, attribute: :emoji) %>
      </div>
      <div class="col">
          <%= component('form/text_field', form:, attribute: :domain, placeholder: t('sites.domain_placeholder')) %>
      </div>
      <div class="col">
          <%= component('form/language_select', form:, attribute: :language_code) %>
      </div>
    </div>

    <%= component('form/text_field', form:, attribute: :copyright) %>

    <div class="d-flex gap-2">
      <%= form.submit(t('.update'), class: 'btn btn--primary btn--md') %>
      <%= render ButtonComponent.new(label: t('form.cancel'), variant: :secondary, href: url_for(current_site), data: { turbo_frame: '_top' }) %>
    </div>
  <% end %>
<% end %>
