<%= turbo_frame_tag(:form) do %>
  <%= form_for(site, as: :site, url: sites_path, class: 'mb-4') do |form| %>

    <%= component('form/text_field', form:, attribute: :title) %>

    <div class="row">
      <div class="col">
          <%= component('form/text_field', form:, attribute: :domain, placeholder: t('sites.domain_placeholder')) %>
      </div>
      <div class="col">
          <%= component('form/language_select', form:, attribute: :language_code) %>
      </div>
    </div>

    <div class="d-flex gap-2">
      <%= form.submit(t('.create'), class: 'btn btn-primary') %>
      <%= link_to 'Cancel', sites_path, 'data-turbo-frame': '_top', class: 'btn btn-outline-primary' %>
    </div>
  <% end %>
<% end %>
