<div class="page-header">
  <h1 class="h4"><%= icon('gear') %> <%= t('.title') %></h1>
</div>

<%= render 'edit_form', site: @site %>

<div class="labeled-divider">
  <span><%= t('.social_media_links') %></span>
</div>

<%= render 'social_media_links/modal', social_media_link: SocialMediaLink.new(site: current_site) %>

<% if current_site.social_media_links.none? %>
  <div class="alert alert-secondary" role="alert">
    <%= simple_format(t('social_media_links.help')) %>
  </div>
<% else %>
  <%= component('social_media_links', social_media_links: current_site.social_media_links) %>
<% end %>
