<h1><%= t('.subject', site_name: @user_invitation.site.title) %></h1>

<p><%= t('.introduction') %></p>

<p><%= t('.click_link_to_accept') %></p>

<a href="<%= accept_site_user_invitation_url(@user_invitation.site, @user_invitation) %>"><%= t('.accept_invitation') %></a>
